.env
venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
vector-db/chroma_data/
**/venv/
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/vector-db/chroma_data/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
terraform/tfplan
terraform/*.pem
.terraform.lock.hcl

# Binaries
terraform.exe
